.comments {
  width: 90vw;
  max-width: 70rem;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}
.dot {
  max-width: 1rem;
  position: relative;
  bottom: -0.2rem;
}
.comments__like-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
  img {
    width: 1rem;
    cursor: pointer;
  }
}
.comments__content {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.1rem;
  overflow: hidden;
}
.comments__comments {
  width: 100%;
  &.comment-section {
    padding: 0.5rem 0.5rem 0 0.5rem;
    overflow-y: auto;
  }
}
.comments__comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .comments__comment-left {
    display: flex;
    flex-direction: row;
  }
}

.comments__icon {
  margin-right: 0.6rem;
  img {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
.comments__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px $gray-light-color;
  .comments__header-left {
    display: flex;
    flex-direction: row;
    .comments__title {
      display: flex;
      flex-direction: row;
      padding-top: 0.25rem;
      .comments__title-top {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .user-verified {
        position: relative;
        top: 2px;
        margin-right: 0.1rem;
      }
    }
  }
}

.comments__options {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.2rem 0.3rem 0.2rem;
  background-color: $white-color;

  .comments__options-left {
    height: 32rem;
    overflow: auto;
    display: flex;
    flex-direction: row;
    .comments__title {
      display: flex;
      flex-direction: row;
      padding-top: 0.25rem;
      .comments__title-top {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .user-verified {
        position: relative;
        top: 2px;
        margin-right: 0.1rem;
      }
    }
  }
}

.comments__options-right {
  border-top: solid 1px $gray-light-color;
  padding: 0.7rem 0;
}

.comments__amounts {
  font-weight: bold;
  margin: 0 0.2rem;
}

.comments__media {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  img {
    max-height: 90vh;
  }
  .video {
    video {
      width: 100%;
      max-height: 90vh;
    }
  }
}

.comments__post-info {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  &.comment-section {
    padding: 0 0.5rem 0 0.5rem;
    border-top: solid 1px $gray-color;
  }
}
.comments__option-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  img {
    width: 1.5rem;
  }
}
.post__amount {
  font-size: 0.8rem;
  line-height: 0.9rem;
}
.comments__post {
  margin: 0.5rem auto;
  color: $gray-dark-color;
  font-size: 1rem;
  font-weight: bold;
  &.--active {
    color: rgb(0, 149, 246);
    cursor: pointer;
  }
}

.comments__input {
  margin-top: 0.75rem;
  padding: 0.5rem 0 0 0;
  border-top: solid 1px $gray-color;
}

.comments__title-center {
  max-width: 85%;
}

.user-comment {
  border: solid 2px rgb(0, 149, 246);
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.post__options {
  &.comment-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .comments__content {
    flex-direction: column;
  }
  .comments__media {
    width: 100%;
    max-width: unset;
  }

  .comments__options {
    width: 100%;
    padding: 0.5rem 0.2rem 0.3rem 0.2rem;
    background-color: $white-color;
  }
}
