.header {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0.1rem 0;
  z-index: 1000;
  background-color: $purple-color;
  .header-icon {
    margin-right: 0.5rem;
    img {
      width: 2rem;
    }
  }
  .header__switch {
    position: absolute;
    right: 0.5rem;
    top: 4.5rem;
  }

  .header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .header__right {
    display: none;
  }

  .header-title {
    color: $white-color;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
  }

  .menu-icon {
    width: 2rem;
    color: $white-color;
    cursor: pointer;
    &:active {
      opacity: 0.6;
    }
  }

  .header__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .header__menu {
    display: none;
  }
  .header__option {
    padding: 0.5em;
    font-weight: bold;
    color: $white-color;
    cursor: pointer;
    &:active {
      opacity: 0.6;
    }
  }

  .header__menu-drop {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 1rem;
    max-height: 0;
    transition: max-height 10s ease-out;

    &.--active {
      max-height: 500px;
      transition: max-height 10s ease-in;
    }

    .header__option-drop {
      margin: 0.5em 0;
      font-weight: bold;
      color: $white-color;
      cursor: pointer;
      &:active {
        opacity: 0.6;
      }
    }
  }

  @media (min-width: $width-md) {
    .header__switch {
      position: unset;
      right: unset;
      top: unset;
    }
  }
  @media (min-width: $width-lg) {
    .header__inner {
      width: 70rem;
      max-width: 100%;
      .header__menu {
        display: flex;
        flex-direction: row;
      }

      .header__md {
        display: none;
      }

      .header__right {
        display: flex;
      }

      .header__menu-drop {
        display: none;
      }
    }
  }
}
